* {
    border-radius: 4px;
}

.form_holder {

        background: white;
        width: max-content;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
    }
    
.page_wraper {

    display: flex;
    justify-content: center;
}

body {
    background-image: radial-gradient(red, orange, yellow); 
  }


h1, p {

    text-align: center;
}

button {
    background-color: blue;
    border: none;
    color: white;
    padding: 13px 125px;
    text-decoration: none;
    font-size: 14px;
  }